<section>
	<!-- <my-search></my-search> -->
	<div class="row category-navigation">
		<div class="col-md-12">
			<a href="/" ng-click="activate(0)">
				<span>mTavari</span>
			</a>
			<a href="/economic">
				<i class="fa fa-angle-double-right"></i>
			</a>
			<a href="">
				<span>{{ categories[active] | categoryFilter }}</span>
			</a>
		</div>
	</div><br>
	<div class="row category-view">
		<!-- category posts goes here -->
		<div class="col-md-8">
			<cat-post ng-repeat="post in posts" ng-click="console.log('va')"></cat-post>
		</div>
		<!-- end of category posts -->

		<!--adds conten-->
		<div class="col-md-4">
			<my-banner ng-controller="bannerCtrl"></my-banner>
		</div>
		<!-- end of adds conten -->
	</div>
	<!--pagination -->
	<div class="row">
		<div class="col-md-8">
			<nav align="center">
				<ul class="pagination pagination-lg">
					<li>
						<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<!--end of pagination -->
	<br><br>
</section>