<section>
	<!-- <my-search></my-search> -->
	<div class="row category-navigation">
		<div class="col-md-12">
			<a ui-sref="main" ng-click="activate(0)">
				<span>mTavari</span>
			</a>
			<a href="">
				<i class="fa fa-angle-double-right"></i>
			</a>
			<a href="">
				<span>{{ category | categoryFilter }}</span>
			</a>
		</div>
	</div><br>
	<div class="row category-view">
		<!-- category posts goes here -->
		<div class="col-md-8">
			<cat-post ng-repeat="post in posts" 
				ui-sref="reading({ category: category , id : post._id})">
			</cat-post>
		</div>
		<!-- end of category posts -->

		<!--adds conten-->
		<div class="col-md-4">
			<my-banner ng-controller="bannerCtrl"></my-banner>
		</div>
		<!-- end of adds conten -->
	</div>
	<!--pagination -->
	<div class="row">
		<div class="col-md-8">
			<nav align="center">
					<!-- <li ng-repeat = "i in count track by $index">
						<a ui-sref="category({ category : category , prop : $index })">
							{{ $index + 1 }}
						</a>
					</li> -->
	    		<pagination boundary-links="true" total-items="totalItems" 
	    		max-size="10" rotate="true" ng-model="currentPage" class="pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-click="paginate(currentPage)" ui-sref="category({ category : category , page : currentPage })"></pagination>	
			</nav>
		</div>
	</div>
	<!--end of pagination -->
	<br><br>
</section>