<section>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<ul class="list-unstyled">
				<li ng-click="activate(0)" ng-class='{ "active" : 0 == active }'>
					<a ui-sref="main">mTavari</a>
				</li>
				<li ng-click="activate(1)" ng-class='{ "active" : 1 == active }'>
					<a ui-sref="economic">ekonomika</a>
				</li>
				<li ng-click="activate(2)" ng-class='{ "active" : 2 == active }'>
					<a ui-sref="business">biznesi</a>
				</li>
				<li ng-click="activate(3)" ng-class='{ "active" : 3 == active }'>
					<a ui-sref="society">sazogadoeba</a>
				</li>
				<li>
					<a>reklama</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 mail-news">
				<div class="form-group">
					<label for="mail">siaxleebis eleqtronul fostaze miReba</label>
					<input type="mail" class="form-control" placeholder="eleqtronuli fosta">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">gamowera</button>
				</div>					
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<p class="pull-right"> 
				<a href="https://fb.com"  target="_blank" class="btn-social">
					<i class="fa fa-facebook"></i>
				</a> 
				<a href="https://twitter.com"  target="_blank"  class="btn-social">
					<i class="fa fa-twitter"></i> 
				</a> 
				<a href="https://plus.google.com"  target="_blank" class="btn-social">
					<i class="fa fa-google-plus"></i>
				</a> 
			</p>
		</div>
	</div>
	<hr>
	<p align="center" class="creator">2015 <i>website developed by <a href="https://kaxi.herokuapp.com" target="_blank">kaxi1993</a></i></p>
	<div id="flag"></div>
</section>