<section>
	<main-post></main-post>
	<!--adds -->
	<div class="add728X90"></div>
	<!--adds -->

	<div class="row hot-themes">
		<div class="col-md-12">
			uaxlesi ambebi
		</div>
	</div><br>
	<div class="row hot-news">
		<div class="col-md-3" ng-repeat="one in [1,2,3,4]">
			<hot-post></hot-post>
		</div>
	</div>
	<hr>

	<!--adds -->
	<div class="add728X90"></div>
	<!--adds -->

	<div class="row actual-themes">
		<div class="col-md-12">
			aqtualuri Temebi
		</div>
	</div><br>
	<div class="row actual-new">
		<div class="col-md-3" ng-repeat="one in [1,2,3,4]">
			<hot-post></hot-post>
		</div>
	</div>
	<!--adds -->
	<div class="add728X90"></div>
	<!--adds -->
</section>