<section>
	<div class="row reading">
		<div class="col-md-8">
			<script>
			  window.fbAsyncInit = function() {
			    FB.init({
			      appId      : '340273092844714',
			      xfbml      : true,
			      version    : 'v2.2'
			    });
			  };

			  (function(d, s, id){
			     var js, fjs = d.getElementsByTagName(s)[0];
			     if (d.getElementById(id)) {return;}
			     js = d.createElement(s); js.id = id;
			     js.src = "//connect.facebook.net/en_US/sdk.js";
			     fjs.parentNode.insertBefore(js, fjs);
			   }(document, 'script', 'facebook-jssdk'));
			</script>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/ka_GE/sdk.js#xfbml=1&appId=340273092844714&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>


			
			<h3>es aris Cemi pirveli postis saTauri gaigeT biWo?</h3>
			<div class="row category-navigation">
				<div class="col-md-6">
					<a href="/" ng-click="activate(0)">
						<span>mTavari</span>
					</a>
					<a href="/economic">
						<i class="fa fa-angle-double-right"></i>
					</a>
					<a href="">
						<span>ekonomika</span>
					</a>
				</div>
				<div class="col-md-6">
					<h4 class="pull-right">17/03/2015</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<img src="img/slider/3.jpg" alt="" class="img-responsive img-thumbnail">
					<span>კასიუს კლეი კენტუკიში, ლუსვილში დაიბადა. მან 1959 და 1960 წლებში "ოქროს ხელთათმანების" სამოყვარულო ტურნირში გაიმარჯვა, ხოლო იმავე 1960 წელს მძიმეწონოსანთა შორის ოლიმპიური ჩემპიონი გახდა. კლეი თავს ყველაზე დიდ მოკრივედ აცხადებდა და მას პრეტენზიულ სპორტსმენადაც თვლიდნენ, ვიდრე ამ პრეტენზიის საფუძვლიანობა არ დაამტკიცა. ოლიმპიური წარმატების შემდეგ პროფესიონალი გახდა, ხოლო ხუთი წლის შემდეგ კი უკვე მსოფლიო ჩემპიონი იყო.
					1964 წელს კლეიმ ისლამი აღიარა და მუჰამედ ალი დაირქვა. რელიგიური შეხედულებების გამო მან უარი თქვა ამერიკის არმიაში სამსახურზე და მონაწილეობა არ მიიღო ვიეტნამის ომში. საკუთარი ქვეყნის სამსახურზე უარის თქმის გამო, ალის მსოფლიო ჩემპიონის ტიტული ჩამოართვეს და კრივს 1967 წლიდან 1970 წლამდე ჩამოაშორეს.
					ალი რინგზე 70-იან წლებში დაბრუნდა. მიუხედავად იმისა, რომ ტიტული ორჯერ დაკარგა, 1974 წელს კვლავ დაიბრუნა ჯორჯ ფორმანთან ორთაბრძოლაში, რომელსაც "აურზაური ჯუნგლებში" უწოდეს, 1978 წელს კი ლეონ სფინქსთან გამართულ მატჩში. ამგვარად, ალი პირველი მძიმეწონოსანი მოკრივე გახდა, ვინც მსოფლიო ჩემპიონობა სამჯერ მოიპოვა.</span>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-12">
					avtori : <b>vladimer xixaZe</b>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-12">
					<div class="fb-like" data-share="true"	data-width="450"data-show-faces="true">
					</div>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-12">
					<div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="5" data-colorscheme="light"></div>
				</div>
			</div>
		</div>
	</div>
</section>