<section>
	<h3 class="geo alert alert-success" align="center">yvela statia</h3>
	<table class="table table-hover table-responsive geo">
		<thead>
			<tr>
				<th >#</th>
				<th>saTauri</th>
				<th>kategoria</th>
				<th>Seqmnis dro</th>
				<th>avtori</th>
				<th>Sesworeba</th>
				<th>waSla</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="article in articles">
				<td>{{ $index + 1 }}.</td>
				<td>{{ article.title | titleFilter }}</td>
				<td>{{ article.category[0] }}</td>
				<td>{{ article.created | date:'dd-MM-yyyy'}}</td>
				<td>{{ article.author }}</td>
				<td>
					<a class="btn btn-primary"	ng-click="editArticle(article)"
					ui-sref="admin.edit-article">
						<i class="fa fa-edit"></i>
					</a>
				</td>
				<td>
					<button class="btn btn-danger" ng-click="alert(article)">
						<i class="fa fa-trash-o"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- delete modal -->
	<script type="text/ng-template" id="alertModal.html">
		<div class="modal-header">
		</div>
		<div class="modal-body">
			<h4 class="geo">namdvilad gsurT am statiis waSla?</h4>
		</div>
		<div class="modal-footer geo">
			<button class="btn btn-danger" ng-click="ok()">waSla</button>
			<button class="btn btn-default" ng-click="cancel()">gauqmeba</button>
		</div>
	</script>
	<!-- end of delete modal -->
</section>