<section>
	<div class="admin-header">
		<nav class="navbar navbar-fixed-top" role="navigation">
			<div class="pull-left admin-logo">
				<h4><b>Imer</b><i>NEWS</i></h4>
			</div>
			<div class="pull-right">
				<ul class="nav navbar-nav">
					<li class="dropdown messages-menu" dropdown>
						<!-- Menu toggle button -->
						<a href="#" class="dropdown-toggle white" dropdown-toggle>
							<i class="fa fa-envelope-o"></i>
							<span class="label label-success small">4</span>
						</a>
						<ul class="dropdown-menu pull-right">
							<li class="header">You have 4 messages</li>
							<li>
							</li>
							<li class="footer"><a href="#">See All Messages</a></li>
						</ul>
					</li>

					<!-- Notifications Menu -->
					<li class="dropdown notifications-menu" dropdown>
						<!-- Menu toggle button -->
						<a href="#" class="dropdown-toggle white" dropdown-toggle>
							<i class="fa fa-bell-o"></i>
							<span class="label label-danger small">10</span>
						</a>
						<ul class="dropdown-menu pull-right">
							<li class="header">You have 10 notifications</a></li>
							<li>
								<a href="#">hey guy!</a>
							</li>
							<li class="footer">
								<a href="#">View all</a>
							</li>
						</ul>
					</li>

					<li class="dropdown user user-menu" dropdown>
						<!-- Menu Toggle Button -->
						<a href="#" class="dropdown-toggle white" dropdown-toggle>
							<!-- The user image in the navbar-->
							<img src="/modules/admin/img/vlado.png" class="img-circle navbar-img" alt="Admin Image"/>
							<span class="hidden-xs geo"><b>vladimer xixaZe</b></span>
						</a>
						<ul class="dropdown-menu pull-right profile-dropdown">
							<!-- The user image in the menu -->
							<li class="user-header" align="center">
								<img src="/modules/admin/img/vlado.png" class="img-circle " alt="Admin Image" align="center">
								<p class="white geo"><b href="#">vladimer xixaZe <br> ekonomisti</b></p>
							</li>
							<br>
							<!-- Menu Footer-->
							<li class="user-footer">
								<a href="/logout" class="btn btn-default pull-right geo">gamosvla</a>
							</li>
						</ul>
					</li>

					<!-- Control Sidebar Toggle Button -->
					<li>
						<a href="#" class="white">
							<i class="fa fa-gears"></i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</section>