<section>
	<h2 class="geo  alert alert-success" align="center">axali statia</h2>
	<div class="geo">
		<form class="form-horizontal" role="form" method="post" action="">
			<div class="form-group col-md-12">
				<label for="title" class="control-label">saTauri:</label>
				<div>
					<input type="text" class="form-control" name="title" placeholder="saTauri">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="image" class="control-label">mTavari suraTi: </label>
				<div>
					<input type="file" class="form-control en" name="image">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="category" class="control-label">kategoria: </label>
				<div>
					<select class="form-control">
						<option>ekonomika</option>
						<option>finansebi</option>
						<option>biznesi</option>
						<option>sazogadoeba</option>
					</select>
				</div>
			</div>
			<div class="form-group col-md-12">
				<label for="body" class="control-label">teqsti:</label>
				
				<div>
					<textarea class="form-control" rows="14" name="body"></textarea>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="date" class="control-label">TariRi: </label>
				<div class="en">
					<input type="date" class="form-control" name="date">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="author" class="control-label">avtori: </label>
				<div>
					<input type="text" class="form-control" name="author">
				</div>
			</div>

			<div class="form-group col-md-12">
				<div>
					<input id="submit" name="submit" type="submit" value="Senaxva" class="	btn btn-success pull-right">
				</div>
			</div>
			<div class="form-group">
				<div class="article-save-status">
					
				</div>
			</div>
		</form>
	</div>
</section>